<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-8 col-md-8 col-md-offset-2">
          <div class="thumbnail" >
            <h4 class="text-center"><span class="label label-info">Paint Studios</span></h4>
            <img ng-src="{{result.imageUrl}}" class="img-responsive">
            <div class="caption">
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <h3>{{post.title}}</h3>
                </div>
                <div class="col-md-6 col-xs-6 price">
                  <h3>
                  <label>{{result.price}}</label></h3>
                </div>
              </div>
              <p>{{result.snippet}}</p>
              <div class="row">
                <div class="col-md-6">
                  <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> 
                </div>
                <div class="col-md-6">
                  <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
              </div>

              <p> </p>
            </div>
          </div>
        </div>            
      </div> 
    </div>
</div>
