<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
     <ul class="nav nav-pills">
      <li role="presentation"><a href="#/">Home</a></li>
      <li role="presentation"><a href="#/about">About</a></li>
      <li role="presentation"><a href="#/service">Services</a></li>
    </ul>
     </div>
</div>
<div class="row">
  <div class="col-md-2">
    Search: <input type="text" ng-model="query">
   <!--  <div ng-bind-template="{{query}}"></div> -->
    SortBy:
    <select ng-model="orderProp">
      <option value="name"    >
          Alphabatical
      </option>
      <option value="age">
          Newest
      </option>
    </select>
  </div>
   
  <div class="col-md-8" >
    <ul>
      <li ng-repeat="post in posts| filter:query | orderBy:orderProp" class="thumb" >
      <a href="#/detail/{{post.id}}">{{post.title}}</a>
        <p >{{ post.body}} </p>
      <hr/>
      </li>
    </ul>
  </div> 
    
</div>
